mixin item-link(link)
  ui-sort-item.flex-row#item-season-link
    ui-sort-grab.flex-auto.item-edit-grab-link(inside)
    input#item-season-url(placeholder=lang.item_edit.link_url value=link.url spellcheck="false")
    input#item-season-url-name(placeholder=lang.item_edit.link_name value=link.name)
    button.flex-auto.icon.icon-dismiss(onclick="editUI(this,'reduceLink')")
mixin item-season(season)
  ui-sort-item.item-edit-season#item-season
    .flex-row
      ui-sort-grab.item-edit-grab-season(inside)
      button.flex-auto.icon.icon-arrow-reset(onclick="editUI(this,'resetSeason')")
      button.flex-auto.icon.icon-dismiss(onclick="editUI(this,'reduceSeason')")
    input#item-season-title(placeholder=lang.item_edit.season_title value=season.title)
    .flex-row
      input#item-season-cover(placeholder=lang.item_edit.cover value=season.cover spellcheck="false")
      button.icon.icon-folder-open(onclick="editUI(this.previousSibling,'getPath')")
    .flex-row
      input#item-season-header(placeholder=lang.item_edit.header value=season.header spellcheck="false")
      button.icon.icon-folder-open(onclick="editUI(this.previousSibling,'getPath')")
    .flex-row
      input#item-season-set(placeholder=lang.item_edit.total_sets value=season.set)
      input#item-season-finished(placeholder=lang.item_edit.finished value=season.finished)
    ui-sort.edit-item-link(gap="8")
      each link in season.links
        +item-link(link)
      ui-sort-item.flex-row.flex-right(no-sort)
        button.flex-auto.icon.icon-add(onclick="editUI(this,'addLink')")