if item
  - let img = getItemImg(item)
  ui-scroll(target=".page.page-item" event="pageItemScroll").page-scroll
  .page-item-header(no-observer page-item-switch)
    - var className = 'show'
    each season, i in item.seasons
      img(class=className src=img.header[i] draggable="false" no-observer)
      - className = ''
  .page-item-info
    .cover(page-item-switch)
      - var className = 'show'
      each season, i in item.seasons
        img(class=className src=img.cover[i] draggable="false" no-observer)
        - className = ''
    .detail
      .title=item.title
      if item.categorize.length > 0
        .categorize
          each categoryId in item.categorize
            .category=db.categorize.find(category=>category.id === categoryId).name
      if item.tags.length > 0
        .tags
          each tagId in item.tags
            .tag=db.tags.find(tag=>tag.id === tagId).name
      .evaluation
        if item.favorite
          .icon.icon-heart.icon-heart-filled(onclick="this.classList.toggle('icon-heart-filled')")
        else
          .icon.icon-heart(onclick="this.classList.toggle('icon-heart-filled')")
        .stars(data-stars=item.stars)
          .icon.icon-star(onclick="this.parentNode.setAttribute('data-stars', 5)")
          .icon.icon-star(onclick="this.parentNode.setAttribute('data-stars', 4)")
          .icon.icon-star(onclick="this.parentNode.setAttribute('data-stars', 3)")
          .icon.icon-star(onclick="this.parentNode.setAttribute('data-stars', 2)")
          .icon.icon-star(onclick="this.parentNode.setAttribute('data-stars', 1)")
      .progress(page-item-switch)
        - var className = 'show'
        each season in item.seasons
          - var finished = season.finished ? season.finished : 0
          - var set = season.set ? finished : 1
          - set = set ? set : 1
          div(class=className)
            .info
              span=finished
              span=set
            .determinate(style="width:" + (finished / set) * 100 + "%;")
          - className = ''
      .links(page-item-switch)
        - var className = 'show'
        each season in item.seasons
          div(class=className)
            each link in season.links
              button(onclick="openUrl("+link.url+")")=link.name
          - className = ''
  if item.seasons.length > 1
    .page-item-switch
      each season, i in item.seasons
        if i === 0
          button.current(onclick="pageSeason(" + i + ")" no-observer)=season.title
        else
          button(onclick="pageSeason(" + i + ")" no-observer)=season.title
  if item.content
    article.page-item-content=markdown(item.content)
  .page-item-related
    h3=lang.page_item.related
    //- !=listItems(null, getRelated(item.id))
    .item-list
      .item.item-loading
        .cover
        .info
          .title
      .item.item-loading
        .cover
        .info
          .title
      .item.item-loading
        .cover
        .info
          .title
      .item.item-loading
        .cover
        .info
          .title
      .item.item-loading
        .cover
        .info
          .title