if pages > 1
  .pagination
    if page === 1
      button.icon.icon-chevron-left.current(onclick=pageFnName + "('prev')")
    else
      button.icon.icon-chevron-left(onclick=pageFnName + "('prev')")
    - let current = 1
    while current <= pages
      if current === page
        button.num.current(onclick=pageFnName + "(" + current + ")" data-page=current)=current
      else
        button.num(onclick=pageFnName + "(" + current + ")" data-page=current)=current
      - current++
    if page === pages
      button.icon.icon-chevron-right.current(onclick=pageFnName + "('next')")
    else
      button.icon.icon-chevron-right(onclick=pageFnName + "('next')")