if db.recommendation.id === -1
  .home-recommendation.home-recommendation-nothing
    .background
    .info
      .info-left
        h2.title=lang.page_home.no_recommendation
        .subtitle=lang.page_home.recommendation_subtitle
else
  - let item = getItemById(db.recommendation.id)
  - let img = getItemImg(item)
  .home-recommendation
    .background
      img(src=img.header[0] draggable="false")
      ui-spotlight
    .info
      .info-left
        h2.title=item.title
        .subtitle=lang.page_home.recommendation_subtitle
        button(onclick="getItem(" + item.id + ", this.parentNode.parentNode)")=lang.page_home.check_recommendation
      img.cover(src=img.cover[0] draggable="false")