.titlebar
  .history-control
    .history-control-back
      i.icon.icon-chevron-left
    .history-control-home
      i.icon.icon-home
  .app-info
    img.app-icon(src="./src/assets/icons/24.png")
    .app-title=lang.abm
  .searchbar
    .input
      i.icon.icon-search.input-left
      input(type="text" placeholder=lang.search.placeholder spellcheck="false")
      i.icon.icon-dismiss.input-right
  .user-control
    .user-action
      img.avatar(src=settings.userAvatar draggable="false")
    .user-menu-shell
      .user-menu
        .user-info
          img.avatar(src=settings.userAvatar draggable="false")
          div
            .greet
            .username(src=settings.username)
        .menu-items
          each items in app.config.userMenu
            .menu-group
              each item in items.items
                .menu-item(onclick=item.onclick)
                  i(class=item.icon)
                  .menu-name=getLangByKey(item.name)
  .window-control
    .window-control-minimize
      i.icon.icon-chrome-minimize
    .window-control-resize
      i.icon.icon-chrome-restore
    .window-control-close
      i.icon.icon-chrome-close